.edit-course-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-course-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.panel-custom {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.input-text-custom,
.textarea-custom {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.input-file-custom {
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 10px;
}

.card-custom {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

.button-custom {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.button-custom:hover {
    background-color: #4cae4c;
}
