.text-button {
    background: transparent !important;
    border: none;
    color: #873EAC !important;
    font: inherit;
    cursor: pointer;
    padding: 0;
  }
  

  .bg-panel2 {
    font-size: 15px;
    color: #000;
    display: flex;
    align-items: center;
    margin-left:  90px;
    justify-content: center;
    text-align: center;
    height: 100px; /* Adjust height as needed */
  width: 90%; /* Ensure it takes full width */
  background-color: #282c34;
    background-color: #F8D57E;
    font-family: 'Circular', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    border: 3px solid #ffffff;
   
}

.code-input {
  background-color: #f4f4f4; 
  border: 1px solid #ccc;
  color: #333; 
  line-height: 1.5; 
  padding: 8px; 
  tab-size: 4; 
}

.btn-width {
  width: 500px;
}