
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  
}

.form-container {
  width: 600px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.input-field {
  margin-bottom: 2rem; /* Increase margin between input fields */
  width: 100%; /* Make input fields full width */
  font-size: 1.2rem; /* Increase font size */
}

.p-password input {
  width: 100%;
  
}

.register-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem 2rem; /* Increase padding */
  font-size: 1.2rem; /* Increase font size */
  cursor: pointer;
  border-radius: 5px;
}

.register-button:hover {
  background-color: #0056b3;
}

.register-button:disabled {
  background-color: #ccc; /* Change background color when disabled */
  color: #666; /* Change text color when disabled */
  cursor: not-allowed; /* Change cursor when disabled */
}

.input-field {
  background-color: white; /* Set background color to white or any color you prefer */
  opacity: 1; /* Ensure full opacity */
  border: 1px solid black; /* Add a 1px solid black border */
}


label {
  margin-bottom: 8px;
  font-size: 20px;
}

sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.FieldError {
  position: absolute;
  bottom: -6px;
  color: red;
  font-size: 12px;
}

.Row {
  display: flex;
  flex-direction: row;
}

fieldset {
  display: flex;
  width: 480px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-direction: column;
}