/* MenubarCustom.css */
.menubar-custom .p-menubar {
  background-color: #64a5ea !important; /* Blue background color */
  border-radius: 5px;
  position: fixed; /* Makes the menubar stick to the top of the viewport */
  top: 0; /* Aligns the menubar at the top of the viewport */
  width: 100%; /* Ensures the menubar stretches across the full viewport width */
  z-index: 1000; /* Ensures the menubar stays above other content */
}

/* Adjust body padding to prevent content from being hidden behind the fixed menubar */
body {
  padding-top: 60px; /* Adjust based on the actual height of your menubar */
}

.menubar-custom .p-menuitem {
  font-weight: bold;
  color: #fff !important; /* White text color */
}

.button-log-out {
  background-color:#64a5ea;
  border-color: #64a5ea; 
}

.menubar-custom .p-menuitem > .p-menuitem-link {
  color: #fff !important; /* White text color */
}

.menubar-custom .p-menuitem-root {
  padding: 0 1rem;
}

.menubar-custom .p-menuitem-icon {
  margin-right: 0.5rem;
}

.menubar-custom .p-submenu .p-menuitem {
  padding: 0.5rem 1rem;
}

.menubar-custom .p-submenu .p-menuitem-icon {
  margin-right: 0.5rem;
}
