body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-button {
  background-color: #004D40  !important; 
  border-color: #004D40  !important;
  color: white !important; 
}

.p-button:enabled:hover {
  background-color: rgb(51, 165, 76)  !important; 
  border-color: #004D40  !important;
}