.custom-video-player {
    width: 900px; 
    height: 500px;
    max-width: 100%; 
    display: block;
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none; 
  }

.description {
background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #333; 
}
  
.h2-custom {
    font-size: 28px;
  background: -webkit-linear-gradient(left, #5d1370, #773f8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.spinner-container {
  position: fixed; /* or 'absolute' if the parent is positioned */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to ensure it's on top of other content */
}
