.card-course {
    background-color: #F3F7F5;
    height: 900px;
    width: 100%;
}

.course-color {
  font-size: 48px; 
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  color: white;
}

.link-custom {
    font-size: 30px;
}